body {
  background-color: #f8f9fa;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.card-header {
background-color: #343a40;
color: #fff;
}

.form-control {
  border: 1px solid #ced4da;
  margin-bottom: 15px;
}

.btn-signup {
  color: #fff;
background-color: #343a40;
border-color: #343a40;
}

.btn-signup:hover {
  color: #fff;
background-color: #202428;
border-color: #202428;
}

.asdfasdfs {
  color: #343a40;
}